.board {
}

.swimlane {
    margin-right: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #E3F2FD;
}

    .swimlane.over {
        background-color: #E3F2FD;
    }

.card {
    background-color: white;
    cursor: move;
}

    .card.dragged {
        opacity: 0.4;
    }

.card-edit {
}

    .card-edit .title {
        font-size: 18px;
        font-weight: bold
    }
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
