.board {
    
}

.swimlane {
    margin-right: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #E3F2FD;
}
    .swimlane.over {
        background-color: #E3F2FD;
    }

.card {
    background-color: white;
}
