@{
    ViewBag.Title = "Board";
}

<div ng-controller="boardCtrl">
    <div ng-show="isLoading">
        <div layout="row" layout-align="space-around center">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
    <div class="ng-cloak" layout="row">
        <div id="{{col.Id}}" class="swimlane" flex kanban-board-drop="over" ng-repeat="col in columns">
            <md-toolbar>
                <span class="md-toolbar-tools">{{col.Name}}</span>
            </md-toolbar>

            <md-card class="card" draggable="true" kanban-board-dragg="task" ng-repeat="task in col.Tasks">
                <h4>{{task.Name}}</h4>
                <md-subheader>#1234</md-subheader>
                <p>{{task.Description}}</p>
                <md-button class="md-raised" ng-click="editCard($event)">Button</md-button>
                <md-divider />
                <div layout="row" layout-align="space-between center">
                    <span>One</span>
                    <span>Two</span>
                    <span>Three</span>
                </div>
                <div layout="row" layout-align="space-between center">
                    <span>One</span>
                    <span>Two</span>
                    <span>Three</span>
                    <span>Four</span>
                </div>
                <md-progress-linear md-mode="determinate" ng-value="66"></md-progress-linear>
            </md-card>
        </div>
    </div>
</div>
