@{
    ViewBag.Title = "Index";
}

<div ng-controller="boardCtrl">
    @*<div ng-include="'/AppScript/busyModal.html'" ng-show="isLoading"></div>*@
    <md-content>
        <div layout="row">
            <div id="{{col.Id}}" class="swimlane" flex kanban-board-drop="over" ng-repeat="col in columns">
                <md-toolbar>
                    <span>{{col.Name}}</span>
                </md-toolbar>

                <md-card draggable="true" ng-repeat="task in col.Tasks">
                    <h3>{{task.Name}}</h3>
                    <md-subheader>#1234</md-subheader>
                    <p>{{task.Description}}</p>
                </md-card>
            </div>
        </div>
    </md-content>
</div>
