<md-dialog>
    <md-content class="card-edit">
        <div layout="row">
            <div flex>
                <md-text-float class="title" type="text" label="Title" ng-model="task.Name"> </md-text-float>
                <textarea cols="200" rows="30" ng-model="task.Description"></textarea>
            </div>
        </div>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button ng-click="save(task)" class="md-primary">
                Save
            </md-button>
        </div>

    </md-content>
</md-dialog>