@{
    ViewBag.Title = "Board";
}

<div ng-view>

    <div ng-show="isLoading" ng-cloak>
        <div layout="row" layout-align="space-around center">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
    </div>
</div>
